* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Yekan';
}

.container {
    border: solid 7px rgba(241, 196, 15, 0.5);
    border-radius: 36px;

}

.header {
    text-align: center;
    box-shadow: 0 5px 15px -2px #888;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
}

.food-pic img {
    width: 150px;
    height: 150px;
}

.menu {
    direction: rtl;
    text-align: right;
    overflow-y: scroll;
}

.item {
    border-bottom: solid 1px black;
    padding: 2rem 0;
}

.select {
    align-items: center;
    justify-content: space-evenly;
}

.fa {
    font-size: x-large;
    color: #e67e22;
}

.fa-minus {
    opacity: 0;
    transition: opacity 1s;
}

#number {
    font-size: xx-large;
}

#foodBill {
    text-align: left;
    font-size: xx-large;
}

.bill {
    height: 0vh;
    visibility: hidden;
    box-shadow: 0 -5px 9px -2px #9f9f9f;
    border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px;
    direction: rtl;
    transition: all 1s;
}

.discount-input {
    font-size: x-large;
    border-radius: 23px;
    border-top-left-radius: 23px !important;
    border-bottom-left-radius: 23px !important;
    border: solid 1.2px #e67e22;
}

.discount-input::placeholder {
    color: #e67e22;
    font-weight: 600
}

.input-group i {
    position: absolute;
    z-index: 5;
    font-size: 2.5rem;
    align-self: center;
    left: 2%;
}

.btn {
    background-color: #e67e22;
    color: white;
    font-size: xx-large;
    border-radius: 12px;
}

.sum-discount {
    visibility: hidden;
}

.col-5 .d-flex span {
    font-size: large;
    font-weight: bold;
}

@font-face {
    font-family: 'Yekan';
    src: url('./assets/B\ Yekan+.ttf');
}