body {
    font-family: 'Yekan';
}



.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
    z-index: 1040;

}

.preloader.complete {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.preloader::before {
    content: '';
    position: absolute;
    left: 0;
    width: 51%;
    height: 100%;
    background-color: black;
    transition: 1s;
}

.preloader.complete::before {
    left: -50%;
}

.preloader::after {
    content: '';
    position: absolute;
    right: 0;
    width: 51%;
    height: 100%;
    background-color: black;
    transition: 1s;
}

.preloader.complete::after {
    right: -50%;
}

.loader {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 800px;
    z-index: 2000;
}

svg {
    overflow: visible !important;
}

.container {
    border: solid 7px rgba(241, 196, 15, 0.5);
    border-radius: 36px;
    height: 98vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

.header {
    text-align: center;
    box-shadow: 0 5px 15px -2px #888;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.food-pic img {
    width: 150px;
    height: 150px;
}

.menu {
    direction: rtl;
    text-align: right;
    overflow-y: scroll;
}

.item {
    border-bottom: solid 1px black;
    padding: 2rem 0;
}

.select {
    align-items: center;
    justify-content: space-evenly;
}

.fa {
    font-size: x-large;
    color: #e67e22;
}

.fa-minus {
    opacity: 0;
    transition: opacity 1s;
}

#number {
    font-size: xx-large;
}

#foodBill {
    text-align: left;
    font-size: xx-large;
}

.bill {
    height: 0vh;
    opacity: 0;
    box-shadow: 0 -5px 9px -2px #9f9f9f;
    border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px;
    direction: rtl;
    transform: translateY(150px);
    transition: transform 0.7s, opacity 1s;
}

.discount-input {
    font-size: x-large;
    border-radius: 23px;
    border-top-left-radius: 23px !important;
    border-bottom-left-radius: 23px !important;
    border: solid 1.2px #e67e22;
}

.discount-input::placeholder {
    color: #e67e22;
    font-weight: 600
}

.input-group i {
    position: absolute;
    z-index: 5;
    font-size: 2.5rem;
    align-self: center;
    left: 2%;
}

.btn {
    background-color: #e67e22;
    color: white;
    font-size: xx-large;
    border-radius: 12px;
}

.sum-discount {
    visibility: hidden;
}

.col-5 .d-flex span {
    font-size: large;
    font-weight: bold;
}

.fa-trash {
    color: #e74c3c;
}

@font-face {
    font-family: 'Yekan';
    src: url('./assets/Yekan.ttf');
}

.cls-1 {
    fill: url(#Degradado_sin_nombre_61);
    animation: leftlogo1 5s ease forwards;
}

.cls-2 {
    fill: url(#Degradado_sin_nombre_61-2);
    animation: texts 1s 4s forwards;

}

.cls-3 {
    fill: url(#Degradado_sin_nombre_61-3);
    transform: translate(-252px, -126px);
    animation: dot1 2s 2s forwards;
}

.cls-4 {
    fill: url(#Degradado_sin_nombre_61-4);
    transform: translate(252px, -126px);
    animation: dot2 2s 2s forwards;
}

.cls-5 {
    fill: url(#Degradado_sin_nombre_61-5);
    animation: leftlogo1 5s ease forwards;

}

.cls-6 {
    fill: url(#Degradado_sin_nombre_61-6);
    animation: leftlogo1 5s ease forwards;
}

.cls-7 {
    fill: url(#Degradado_sin_nombre_61-7);
    animation: rightlogo1 5s forwards;

}

.cls-8 {
    fill: url(#Degradado_sin_nombre_61-8);
    animation: leftlogo1 5s forwards;

}

.cls-9 {
    fill: url(#Degradado_sin_nombre_61-9);
    animation: rightlogo1 5s forwards;

}

.cls-10 {
    fill: url(#Degradado_sin_nombre_61-10);
    animation: rightlogo1 5s forwards;

}

.cls-11 {
    fill: url(#Degradado_sin_nombre_61-11);
    animation: rightlogo 5s forwards;
    transform-origin: center;

}

.cls-12 {
    fill: url(#Degradado_sin_nombre_61-12);
    animation: leftlogo 5s ease forwards;
    transform-origin: center;

}

.cls-13 {
    fill: url(#Degradado_sin_nombre_61-13);
    animation: rightlogo1 5s forwards;

}

.cls-14 {
    fill: url(#Degradado_sin_nombre_61-14);
    animation: rightlogo1 5s forwards;

}

.cls-15 {
    fill: url(#Degradado_sin_nombre_61-15);
    animation: rightlogo1 5s forwards;

}

.cls-16 {
    fill: url(#Degradado_sin_nombre_61-16);
    animation: rightlogo1 5s forwards;

}

.cls-17 {
    fill: url(#Degradado_sin_nombre_61-17);
    animation: rightlogo1 5s forwards;

}

.cls-18 {
    fill: url(#Degradado_sin_nombre_61-18);
    animation: leftlogo1 5s ease forwards;

}

.cls-19 {
    fill: url(#Degradado_sin_nombre_61-19);
    animation: rightlogo1 5s forwards;

}

.cls-20 {
    font-size: 52.15px;
    font-family: Brawler;
    animation: logo 2s 4s forwards;
}

.cls-20,
.cls-25 {
    fill: #ffdca4;
}

.cls-21 {
    font-size: 15.24px;
    fill: #31251a;
    animation: texts 1s 4s forwards;

}

.cls-21,
.cls-25 {
    font-family: Aller-Bold;
    font-weight: 700;
}

.cls-22 {
    letter-spacing: -0.01em;
}

.cls-23 {
    letter-spacing: 0em;
}

.cls-24 {
    letter-spacing: -0.04em;
}

.cls-25 {
    font-size: 23px;
    animation: texts 1s 4s forwards;
}

.cls-26 {
    letter-spacing: -0.09em;
}

@keyframes leftlogo {
    0% {
        transform: translate(-52px, -500px);
    }

    25% {
        transform: translate(-52px, -126px);
    }

    60% {
        transform: translate(-52px, -126px);
    }

    80% {
        transform: rotate(-90deg) translate(-75px, -152px);
    }

    100% {
        transform: translateX(-520px) rotate(-90deg) translate(-75px, -52px);


    }
}

@keyframes leftlogo1 {
    0% {
        transform: translate(-52px, -500px);
    }

    25% {
        transform: translate(-52px, -126px);
    }

    60% {
        transform: translate(-52px, -126px);
    }

    80% {
        transform: translate(-52px, -126px);
        opacity: 0.2;
    }

    100% {
        opacity: 0;

    }
}

@keyframes rightlogo {
    0% {
        transform: translate(-52px, 500px);
    }

    25% {
        transform: translate(-52px, -126px);
    }

    60% {
        transform: translate(-52px, -126px);
    }

    80% {
        transform: rotate(-90deg) translate(-90px, -126px)scale(1.18);
    }

    100% {
        transform: translateX(380px) rotate(-90deg) translate(-90px, -52px) scale(1.18);


    }
}

@keyframes rightlogo1 {
    0% {
        transform: translate(-52px, 500px);
    }

    25% {
        transform: translate(-52px, -126px);
    }

    60% {
        transform: translate(-52px, -126px);
    }

    80% {
        transform: translate(-52px, -126px);
        opacity: 0.2;
    }

    100% {
        opacity: 0;

    }
}

@keyframes dot1 {
    0% {}

    50% {
        transform: translate(-82px, -126px);

    }

    100% {}
}

@keyframes dot2 {
    0% {}

    50% {
        transform: translate(-22px, -126px);

    }

    100% {}
}

@keyframes texts {
    0% {}

    100% {
        opacity: 0;
    }
}

@keyframes logo {
    0% {}

    100% {
        transform: scale(1.2) translate(-35px, 150px);
    }
}

@font-face {
    font-family: Aller-Bold;
    src: url(./assets/LOGO/Aller_Bd.ttf);
}

@font-face {
    font-family: Brawler;
    src: url(./assets/LOGO/Brawler.otf);
}

@media only screen and (min-width: 1025px) {
    .large-screen {
        display: flex !important;
        text-align: center;
        width: 100vw;
        height: 100vh;
        background-color: black;
        color: white;
        font-family: Aller-Bold;

    }

    .container {
        display: none;
    }
}

@media only screen and (max-width: 599px) {
    .large-screen {
        display: flex !important;
        text-align: center;
        width: 100vw;
        height: 100vh;
        background-color: black;
        color: white;
        font-family: Aller-Bold;
    }

    .container {
        display: none;
    }
}